<!DOCTYPE html>
<html lang="en">
  <% include partials/_head %>
  <body>
    <% include partials/_header %>

    <div class="container">
      <h1 class="display-3">Order Now!</h1>
      <div class="jumbotron">

        <section id="confirm_order">
          <% var total = 0.00, tax = 0.00 %>

          <% data.forEach(function(dish) { %>
            <p> Dish: <%= dish.name %> Price: <%= dish.price %> X <%= dish.quantity %> =
              <% var price = dish.price
                var quantity = dish.quantity %>
                <%= price * quantity %>
                <%total += price * quantity %>
            </p>
          <% }); %>
          <p> Total: <%= total %> </p>
          <p> Taxes (13%): <%= tax = Math.round((total * 0.13)*100)/100 %></p>
          <p> Total + Tax : <%= Math.round((total + tax)*100)/100 %> </p>

        </section>

        <a href="/users/restaurants/<%=id%>/confirmation" ><form action= "" method ="POST">
          <button type="button" class="btn btn-success float-lg-right" name="foo" value="order_now" > Order Now </button>
        </form></a>

        <!-- <a href = "/users/restaurants/<%=id%>/confirmation"><button type="button" class="btn btn-success float-lg-right"> Order Now </button></a> -->
        <a href = "/users/restaurants/<%=id%>/menu"><button type="button" class="btn btn-warning float-lg-right"> Back </button></a>
      </div>
    </div>
    <% include partials/_scripts %>
  </body>
</html>
